<!doctype html>
<html>
  {{> head title=home.pageTitle }}
  <body>
		<div id="stars-simulation-container"></div>
    <section class="main-menu">
      <a class="menu-btn"></a>
      <h1>Tuqire Hussain's Portfolio</h1>
      <p>Click the links below to get redirected to examples of work.</p>
      <nav class="portfolio">
        <ul>
          <li>
            <a href="https://tuqire.github.io/webcam-particles/" target="_blank">
              <span class="title">Web Cam Particles (Chrome only)</span>
              A real-time simulation using 100,000 particles to mimic your webcam feed. Requires access to webcam. Only works in Google Chrome.
            </a>
          </li>
          <li>
            <a href="http://www.kabaaproject.com/" target="_blank">
              <span class="title">The Kabaa Project</span>
              A real-time simulation using 700,000 particles to mimic Mecca. Has real time controls.
            </a></li>
        </ul>
      </nav>
      <h5>Tuqire Hussain. All rights reserved &copy;</h5>
    </section>
    {{> ga }}
  </body>
</html>
